<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SistemaVendas</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <title>Sistema de Gestão de Vendas</title>
</head>
<!--chama a funçao js sempre que a pagina for carregada-->
<body onload="carregaUserLogado()">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Menu">SistemaVendas</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        @*<li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="About">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Contact">Contact</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Login">Entrar no Sistema</a>
                            </li>*@
                        <li>
                            <!-- importações para poder trabalhar com sessões -->
                            @using Microsoft.AspNetCore.Http
                            <!--Injeção de dependencia-->
                            @inject IHttpContextAccessor HttpContextAcessor
                            <div id="nomeUsuarioLogado"></div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - SistemaVendas - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
    <script>
        function carregaUserLogado() {
            var nome = '@HttpContextAcessor.HttpContext.Session.GetString("nomeUsuarioLogado")'
            if (nome != "") //usuario logado
            {
                var divNome = document.getElementById("nomeUsuarioLogado");
                divNome.innerHTML = "Olá, " + nome + " <a href ='../Home/Login/0'>(Sair)";
                divNome.style = "padding-top:3px; padding-left:40px";
            } else {//usuario não logado
                //forçando o usuario a ir para a pagina "login" quando não estiver logado,
                //necessário para que o usuario não consiga entrar por fora, digitando url
                window.location.href = '../Home/Login';

            }
        }
    </script>
</body>
</html>
