
<style type="text/css">
    body {
        background-position: center;
        background-size: cover;
        font-family: "Robato",sans-serif;
        font-size: 20px;
        background-image: url('../../images/planof4.jpg');
        background-repeat: no-repeat;
    }
</style>
<br />
<body>
    <div class="row" style="text-align:center;">
        <div class="col-lg-4">
            <div class="row" style="display: flex; justify-content: center;">
                <a href="../Cliente/Index"> <img src="~/images/clientes.png" width="150" height="150" /> </a>
            </div>
            <label> Cadastro de Clientes</label>
        </div>
        <div class="col-lg-4">
            <div class="row" style="display: flex; justify-content: center;">
                <a href="../Vendedor/Index"> <img src="~/images/vendedores.png" width="150" height="150" /> </a>
            </div>
            <label> Cadastro de Vendedores</label>
        </div>
        <div class="col-lg-4">
            <div class="row" style="display: flex; justify-content: center;">
                <a href="../Produto/Index"> <img src="~/images/produtos.png" width="150" height="150" /> </a>
            </div>
            <label> Cadastro de Produtos</label>
        </div>
    </div>
    <br />
    <div class="row" style="text-align:center;">
        <div class="col-lg-4">
            <div class="row" style="display: flex; justify-content: center;">
                <a href="../Venda/Index"> <img src="~/images/vendas.png" width="150" height="150" /> </a>
            </div>
            <label> Registro de Vendas</label>
        </div>
        <div class="col-lg-4">
            <div class="row" style="display: flex; justify-content: center;">
                <a href="../Relatorio/Index"> <img src="~/images/relatorios.png" width="150" height="150" /> </a>
            </div>
            <label> Relatórios</label>
        </div>
        <div class="col-lg-4">
            <div class="row" style="display: flex; justify-content: center;">
                <img src="~/images/configuracoes.png" width="150" height="150" />
            </div>
            <label> Configurações do Sistema</label>
        </div>
    </div>
    <br />
    <div class="row" style="text-align:center;">
        <div class="col-lg-4">
            <div class="row" style="display: flex; justify-content: center;">
                <a href="../Estoque/Index"> <img src="~/images/estoque.png" width="150" height="150" /> </a>
            </div>
            <label>Controle de Estoque</label>
        </div>
    </div>
</body>
