<h2>Excluir Cliente</h2>

<h3>Deseja realmente excluir o cliente selecionado?</h3>

<button type="button" class="btn btn-danger" onclick="nao()">Não</button>
<button type="button" class="btn btn-success" onclick="sim()">Sim</button>

<script>
    function sim() {
        //concatenar a variavel ViewData para passar o parametro (id)
        window.location.href = "../../Cliente/ExcluirCliente/" + '@ViewData["idExcluir"].ToString()';
    }

    function nao()
    {
        window.location.href = "../../Cliente/Index";
    }
</script>