<h2>Vendedor excluido com sucesso.</h2>

<button type="button" class="btn btn-primary" onclick="voltar()">Voltar</button>

<script>
    function voltar()
    {
        window.location.href = "../../Vendedor/Index";
    }
</script>